<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>ZZZZ</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>copyright</key>
	<string>Created by Christoph Haag for Open Source Publishing during a wonderful residency at Constant Variable. Made with Bash, Inkscape, Python, FontForge.</string>
	<key>unitsPerEm</key>
	<integer>4096</integer>
	<key>xHeight</key>
	<integer>2295</integer>
	<key>capHeight</key>
	<integer>3031</integer>
	<key>ascender</key>
	<integer>3520</integer>
	<key>descender</key>
	<integer>-576</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2014/06/24 22:29:34</string>
	<key>openTypeNameVersion</key>
	<string>Version 001.000</string>
	<key>postscriptFontName</key>
	<string>XXXX</string>
	<key>postscriptFullName</key>
	<string>ZZZZ Regular</string>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>postscriptUnderlineThickness</key>
	<integer>25</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>-51</integer>
    </dict>
</plist>
