@color: black;


.column20 {
    width: 20%;
}
.column33 {
    width: 33%;
    float: left;
}
.column20 + .column20 {
    padding-left: 1em;
}

h1{
    font-size: 1.45em;
    font-family: "UmePlumePGothic-200";
    margin-bottom:0px;
}
dl{
    border-top: 0px;
    line-height: 1.2em;
    font-size: 8.35pt;
}
dt{
    font-size: 8.1pt;
    letter-spacing: 0.03em;
    font-family: 'UmePlumePGothic-260';
}
dd{
    line-height: 1em;
    font-size: 8.35pt;
    font-family: 'UmePlumePMincho-260';
}


.recto{
    color: @color;
    font-family: 'UmePlumePGothic-260';
    text-align: center;
    font-size: 0.75em;
    line-height: 1.1em;
}
img#photo {
    width: 395px;
    margin-bottom: 1em;
}
.recto h1 {
    margin-bottom: 5px;
}
.recto .dates {
    margin-top: 23.5px;
}
#logo {
    font-family: 'UmePlumePGothic-200';
    text-transform: none; 
    border-right: 1px solid black; 
    overflow: hidden; 
    width: 36px; 
    margin: auto; 
    margin-top: 24px; 
    font-size: 1.5em;
    text-align: center;
}



.verso{
    font-size: 7.8pt;
    margin-top: 1px;
    color: @color;
    -webkit-region-break-before: always;
    text-align: center;
}


.verso h1 {
    font-size: 1.2em;
}
div.intro {
    font-family: "UmePlumePGothic-200";
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}
.verso p {
    text-align: left;
}
.verso .dates {
    font-family: 'UmePlumePGothic-260';
    font-size: 11px;
    line-height: 1.35em;
    margin-bottom: 11px;
}
.date-ailleurs{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 12px;
    font-size: 11px;
    line-height: 13px;
}


.bible{
    font-size: 1.2em;
    border-top: 0px solid @color;
    margin-top:0px;
}
.production{
    font-family: "UmePlumePGothic-260";
    border-bottom: 0px solid @color !important;
    margin-top: 6px;
    line-height: 1.2em;
    font-size: 8.3pt;
}


.pratique1 {
    text-align:center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    vertical-align: middle;
    font-family: 'UmePlumePGothic-260';
    font-size:1.1em;
    padding: 5px 0px;
}
.pratique11 {
    text-align:center;
    border-top: 0px solid black;
    border-bottom: 1px solid black;
    vertical-align: middle;
    font-family: 'UmePlumePGothic-260';
    font-size:1.1em;
    padding: 5px 0px;
}
div.adresse {
    font-size: 1.1em;
    line-height: 1.35em;
    margin-top: 14px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "UmePlumePGothic-260";
}


#colophon {
    clear: both;
    text-align: left;
}



/* S E P A R A T E U R S */
.segno {
    font-size: 1.3em;
    margin-top: 6px;
}
.quarter-rest {
    font-size: 1em;
}
.ornament {
    font-size: 1.7em;
}

