@import "print.less";

@small-page-width: 130mm;
@small-page-height: 200mm;

html.debug {
    .texte {
        outline: 1px solid Magenta;
    }
    .glose {
        outline: 1px solid orange;
    }
}
.texte {
    position: absolute;
    top: 0;
    margin: 0;
    margin-bottom: @crop*2; 
    margin-top: @page-height - @small-page-height; 
    width: @small-page-width;
    height: @small-page-height;

}
.glose {
    position: absolute;
    top: 0;
    height: @page-height - @small-page-height;
    width: @page-width;
    margin-top: 0; 
    margin-bottom: @page-height - (@page-height - @small-page-height) + @crop*2;
}

div#container .page {
    -webkit-flow-from: inherit;
    position: relative;
    padding: 0;
    /*margin-bottom: @crop*2; */
    /*margin-top: @page-height - @small-page-height + @crop*2; */

    &:nth-child(odd) .texte {
        left: 0;
    }
    &:nth-child(even) .texte {
        left: @page-width - @small-page-width;
    }
}
div#container .page div {
    -webkit-flow-from: myFlow;
}
div#content {
    -webkit-flow-into: myFlow;
}

div#container-notes {
    position: absolute;
    top: @crop;
}

div#container-notes .page {
    -webkit-flow-from: notesFlow;
    height: @page-height - @small-page-height;
    width: @page-width;
    -webkit-region-break-after: always;
    page-break-after: always;
    margin-top: 0; 
    margin-bottom: @page-height - (@page-height - @small-page-height) + @crop*2;
}
div#content-notes {
    -webkit-flow-into: notesFlow;
}

