body {
    font-size: 36px;
    line-height: 1.4em;
}
h2{
font-size:77px;
}

h1{
    font-size:180px;
    line-height: 160px;
    margin-top: 0.3em;

    span {
        display: block;
        line-height: 1em;
        margin-bottom: -120px;
    }
}
h1 + h2 {
    margin-top: 0.3em;
}

.artiste{
    font-size:57px;
}
div.infos {
    text-align: center;
    display: inline-block;
    position: relative;
    top: -38px;
    font-size: 31px;
}
.column25 {
    float: left;
    width: 25%;
    padding: 0 1.4em;
    text-align:center;

    & + .column25 {
        /*border-left: 1px solid white;*/
    }
}
.column50 {
    float: left;
    width: 50%;
    padding: 0 1.4em;
    text-align:center;

    & + .column50 {
        border-left: 1px solid white;
    }
}

.sommaire{
    position: absolute;
    top: 0;
    font-size: 1em;

    .creations {
        font-size: 1em;
        text-align: center;
        margin-bottom: 1em;
        /*border-top: 1px solid white;*/
        padding-top: 0.5em;
        text-transform: uppercase;
        line-height: 2em;
        font-family: UmePlumePGothic-200;
    }

    date{
        font-size:50px;
    }
    div.spectacle-infos {
        font-size: 1em;
        width:100%;
        text-align: left;
        display: inline;
        padding: 0;
        font-family: UmePlumePGothic-200;

        &:after {
            content: "";
            display: block;
        }
    }


    h3 {
        font-size: inherit;
        line-height: 1.3em;
        /*text-align: left;*/
        /*display: inline;*/
        text-align: center;
        border-top: 2px solid white;
        border-bottom: none;
        padding-top: 15px;

        /*&:after {*/
            /*content: ", ";*/
        /*}*/

        .fig {
            display: none;
        }
    }
}

figcaption {
    display: none;
    color: white;
    font-size: 1em;
    h3 {
    }
    .spectacle-infos {
        width: auto;
    }
}
.moveable svg,
.moveable img {
    height: 70%;
    width: auto;
}
div#logos{
    position: absolute;
    height: 125px;
    bottom: 0;

    svg {
        width: 50px;
        position: relative;
        margin-right: 7px;
    }
}
