

.logos-balsa{
width: 55px;
}

h2{
font-size:77px;
}

h1{
font-size:132px;
}

.artiste{
font-size:57px;

}

.sommaire{
    width:32%;
    font-size:35px;

    date{
    font-size:50px;

    }
    div.spectacle-infos {
    width:100%;
    }
    h3{
      border-top:1px solid white;
      border-bottom:1px solid white;
    }
}