.logos-balsa{
width: 55px;
}

h2{
font-size:77px;
}

h1{
    font-size:132px;
    line-height: 96px;
    margin-top: 0.3em;
}
h1 + h2 {
    margin-top: 0.3em;
}

.artiste{
font-size:57px;

}

.sommaire{
    width: 32%;
    font-size: 16px;

    date{
    font-size:50px;

    }
    div.spectacle-infos {
    width:100%;
    }
    h3{
      border-top:1px solid white;
    }
}
