@import "print.less";

/* __________________________________ BALSA SPECIFIC DOUBLE STRUCTURE __________________________________ */
@small-page-width: 130mm;
@small-page-height: 225mm;

@font-size: 16pt;
@line-height: 1.2em;

html.debug {
    .cahier {
        outline: 1px solid Magenta;
    }
    .glose {
        outline: 1px solid orange;
    }
    .images-chant {
        outline: 1px solid cyan;
    }
}


.cahier {
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: @page-height - @small-page-height; 
    width: @small-page-width;
    height: @small-page-height;

    /* margins inside the main booklet */
    /*padding-left: 10mm;*/
    /*padding-right: 10mm;*/
    padding-top: 5mm;
    padding-bottom: 25mm;

    &:nth-child(odd) {
        padding-left: 7mm;
        padding-right: 13mm;
    }
    &:nth-child(even) {
        padding-left: 13mm;
        padding-right: 7mm;
    }
}
.glose {
    position: absolute;
    left: 0;
    height: @page-height - @small-page-height;
    width: @page-width;

    /* margins inside the main booklet */
    padding-left: 10mm;
    padding-right: 10mm;
    padding-top: 10mm;
    padding-bottom: 5mm;
}

.preview-page {
    &:nth-child(odd) .cahier {
        left: 0;
    }
    &:nth-child(even) .cahier {
        left: @page-width - @small-page-width;
    }
}
.page {
    -webkit-flow-from: inherit;
    padding: 0;
    /*margin-bottom: @crop*2; */
    /*margin-top: @page-height - @small-page-height + @crop*2; */

}
.cahier {
    -webkit-flow-from: myFlow;
}
.glose div {
    -webkit-flow-from: notesFlow;
}
div#content .chant,
div#content .texte {
    -webkit-flow-into: myFlow;
}
div#content .notes {
    -webkit-flow-into: notesFlow;
}

.column20 {
    float: left;
    height: 100%;
    width: 20%;

    & + .column20 {
        padding-left: 0.5em;
    }
}
.column50 {
    float: left;
    height: 100%;
    width: 50%;
    padding: 0.5em;

    & + .column50 {
        padding-left: 0.5em;
    }
}

.titre-courant {
    width: @page-width;
    position:absolute;
    top: @crop;
    left: @crop;
    padding: 5mm;
}

.images-chant {
    position: absolute;
    top: @page-height - @small-page-height + @crop;
    left: @crop;
    height: @small-page-height - (@page-height - @small-page-height);
    width: @page-width - @small-page-width;
    padding-left: 10em;
    z-index:-800px;

    figure {
        max-width: 100%;
        margin-bottom: 2em;
    }
}
.images-chant.bas {
    position: absolute;
    top: @small-page-height + @crop;
    width: @page-width;
    z-index:-800;

    figure {
        float: left;
        max-width: 25%;
        margin-right: 2em;
    }
}
