@import "print.less";

/* __________________________________ BALSA SPECIFIC DOUBLE STRUCTURE __________________________________ */
@small-page-width: 130mm;
@small-page-height: 225mm;

@font-size: 16pt;
@line-height: 1.2em;

html.debug {
    .cahier {
        outline: 1px solid Magenta;
    }
    .glose {
        outline: 1px solid orange;
    }
}
.cahier {
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: @page-height - @small-page-height; 
    width: @small-page-width;
    height: @small-page-height;

    /* margins inside the main booklet */
    padding-left: 10mm;
    padding-right: 10mm;
    padding-top: 5mm;
    padding-bottom: 25mm;
}
.glose {
    position: absolute;
    left: 0;
    height: @page-height - @small-page-height;
    width: @page-width;

    /* margins inside the main booklet */
    padding-left: 10mm;
    padding-right: 10mm;
    padding-top: 10mm;
    padding-bottom: 5mm;
}

.preview-page {
    &:nth-child(odd) .cahier {
        left: 0;
    }
    &:nth-child(even) .cahier {
        left: @page-width - @small-page-width;
    }
}
.page {
    -webkit-flow-from: inherit;
    padding: 0;
    /*margin-bottom: @crop*2; */
    /*margin-top: @page-height - @small-page-height + @crop*2; */

}
.cahier {
    -webkit-flow-from: myFlow;
}
.glose div {
    -webkit-flow-from: notesFlow;
}
div#content .chant,
div#content .texte {
    -webkit-flow-into: myFlow;
}
div#content .notes {
    -webkit-flow-into: notesFlow;
}

.column20 {
    float: left;
    height: 100%;
    width: 20%;

    & + .column20 {
        padding-left: 0.5em;
    }
}
.column50 {
    float: left;
    height: 100%;
    width: 50%;
    padding: 0.5em;

    & + .column50 {
        padding-left: 0.5em;
    }
}



