@import "print.less";
@import "balsa.less";
@color: #193300;

body {
    font-family: "Ume P Mincho";
    font-size: 16pt;
    color:@color;
}

h1 {
    font-family: "Ume Mincho Balsa";
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    -webkit-region-break-before: always;
}
h2 {
    font-family: "Ume Mincho Balsa";
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    -webkit-region-break-before: always;
}


h3 {
    font-family: "Ume Mincho Balsa";
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
}

div.spectacle-infos {
    font-family: "LS";
    line-height: 1em;
    width: @small-page-width - 20mm;
    text-align: center;
    padding: 1em;
}

div.spectacle-infos-small {
    font-family: "LS";
    line-height: 0.6em;
    text-align: center;
    padding: 1em;
}

div.notes {
    -webkit-region-break-before: always;
    -webkit-region-break-after: always;
    font-family: "Ume P Gothic Balsa";
    font-size: 10pt;
}

.bible {
    font-size: 12pt;
}

dt {
    font-family: Ume P Gothic Balsa;
    text-transform: uppercase;
}

dd {
    margin-bottom: 1px;
    border: solid thin @color;
    border-top: none;
    border-left: none;
    display: inline;
    padding: 0px 3px 1px 3px;
    margin: 0 2px 0 0;
}

.chant{
    font-family: "Ume P Gothic Balsa";
}