@import "print.less";
@import "balsa.less";
@import "fonts.less";

@weights: 30, 45, 65, 90, 120, 158, 200, 260, 330, 410, 500, 600;

body {
    font-family: "UmePlumePGothic-200";
    font-size: 12.5pt;
    color:@color;
}

a{
    text-decoration:none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom:13px;
    line-height: 1em;
    font-size: 2.7em;
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom:5px;
    line-height: 1em;
}
h1 + h2 {
    margin-top: 1em;
}

h3 {
    text-transform: uppercase;
    font-size: 1.4em;
    text-align: center;
    margin-top:10px;
}
h4 {
text-align:center;

}


.avoid-break{
    -webkit-region-break-before: avoid;
}

article {
    -webkit-region-break-before: always;
}

div.spectacle-infos {
    font-size: 1.1em;
    line-height: 1em;
    text-align: center;
    padding: 1em;
}

div.spectacle-infos-small {
    font-size: 1.1em;
    line-height: 1em;
    text-align: center;
    padding: 1em;
}

div.notes {
    -webkit-region-break-before: always;
    -webkit-region-break-after: always;
    font-size: 8.3pt;
    line-height: 1.1em;
}

div.notes p:first-child:first-letter {
    font-family: "UmePlumePGothic-200";
    font-size: 8.3pt;
    line-height: 1.1em;
}

.bible {
    font-size: 10pt;
    margin-top:10px;
    display: inline; 
}

li:before {
    content: "– ";
}

dt {
    text-transform: uppercase;
    font-size: 7pt;
    display: inline; 
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    vertical-align:bottom;
    padding: 3px;
    padding-bottom:0px;
}

dd {
    display: inline; 
}

table {
border-spacing:5px ! important;
 border-collapse:separate;
}

blockquote {
    padding: 1em;
}
p + p {
    text-indent: 1em;
}

.chant {
    line-height: 1.1em;
    background-color:white;
    padding: 1em;
}
.piece {
        font-size:1.2em;
    }
    

.chant-typo(@weight) {
    * {
        font-family: %("UmePlumePGothic-%s", @weight);
    }
    
    dt,
    .notes,
    .spectacle-infos,
    .texte p,
    .chant.chant-titre {
	font-family: %("UmePlumePGothic-%s", @weight);
    }
    
    .production,
    dd,
    h1,
    h2,
    h3,
    &.chant p,
    .piece {
        font-family: %("UmePlumePMincho-%s", @weight);
    }

}

.edito {
    .chant-typo("120");
}
.ouverture {
    .chant-typo("158");
}
.chant1 {
    .chant-typo("120");
}
.chant2 {
    .chant-typo("120");
}
.chant3 {
    .chant-typo("200");
}
.chant4 {
    .chant-typo("330");
}
.chant5 {
    .chant-typo("500");
}
.chant6 {
    .chant-typo("600");
}
.chant7 {
    .chant-typo("410");
}
.chant8 {
    .chant-typo("260");
}
.infos-pratiques {
    .chant-typo("120");
}

.chant p:first-child:first-letter {
    float:left; 
    padding: 6px;
    margin: -5px 11px -21px 0px;
    font-size: 80px;
    line-height: 1.4em;
}

.spectacle-texte {
    font-size: 10pt;
    line-height: 1.2em;

}

.production{
    font-size: 10pt;
    line-height: 1.1em;

}

/* ---------------- INFOS PRATIQUES ------------------*/
article#infos-pratiques {
    h2 {
        margin-top: 1em;
        font-size: 1.8em;
    }
    .pratique1 {
        text-align:center;
        /*width:21%;*/
        vertical-align: middle;
        font-family: 'UmePlumePGothic-330';
    }
    .pratique2 {
        outline: 2px solid black;
        padding: 8px 4px;
        vertical-align: middle;

    }
    .pratique3 {
        font-size:8.3pt;
    }
}
ul#quizz-bleu {
    text-align: center;
    padding: 1em;

    li {
        font-size: 8.3pt;
        display: inline-block;
        /*outline: 1px solid @color;*/
        padding: 0.5em;
        margin: 0.5em;

        &:before {
            content: "• ";
        }

        &.proverbe {
            outline: 1px solid @color;
            &:before {
                content: "";
            }
        }
    }
}
